/*  your css code here. If applicable */
.main{
	width:600px;
	height:150px;
	background-color:grey;
	display:flex;
	justify-content:center;
	align-items:center;
	gap:10px;
	border-radius:20px;
	border:3px black solid;
}
.green{
display:block;
	height:50px;
	width:50px;
	background-color:#008001;
	border-radius:50px;
}
.yellow{
display:block;
	height:50px;
	width:50px;
	background-color:#fffe07;
	border-radius:50px;
	
}
.red{
display:block;
	height:50px;
	width:50px;
	background-color:#ff0002;
	border-radius:50px;
	
}